<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container history-container">
    <section class="card">
      <h1 class="title history-title">Register</h1>
      <form method="post">
        <div class="form-block">
          <label>Full name</label>
          <input type="text" name="full_name" placeholder="Your full name">
        </div>
        <div class="form-block">
          <label>Email</label>
          <input type="text" name="email" placeholder="you@example.com">
        </div>
        <div class="form-block">
          <label>Password</label>
          <input type="password" name="password" placeholder="Create password">
        </div>
        <div class="actions">
          <button class="btn-primary" type="submit">Create account</button>
          <a class="btn-link btn-muted" href="{{ url_for('auth.login') }}">Login</a>
        </div>
      </form>
    </section>
  </div>
</body>
</html>